fastapi
uvicorn[standard]
python-dotenv
websockets
ollama
langchain
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
beautifulsoup4
requests
aiohttp
numpy
Pillow
ultralytics
lunarcalendar
ephem
python-multipart
